<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.carmine.myapplication">

    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_unical"
        android:label="The World Around You"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        XHTML
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBf8T3ERrnDSYMvP-3Ha3inWfjw3R2qfB8" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name=".layout.activity.LoginActivity"
            android:label="@string/title_activity_main_after_login_as_seller">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".layout.seller.mainActivityAfterLoginAsSeller"
            android:label="@string/title_activity_main_after_login_as_seller"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".layout.activity.le_miePrenotazioni"
            android:label="@string/title_activity_main_after_login_as_seller" />
        <activity
            android:name=".layout.activity.MainActivityAftherLogin"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".layout.activity.PlaceActGoogle"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".layout.activity.RegistrationActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".layout.activity.RicercaProdotto" />
        <activity android:name=".layout.activity.activityMenu" />
        <activity android:name=".layout.activity.Product_of_place" />
        <activity android:name=".layout.activity.Order_activity" />
        <activity android:name=".layout.activity.ReservationActivity" />
        <activity android:name=".layout.core.GestioneProdotti" />
        <activity
            android:name=".layout.seller.gestioneMenu.GestioneMenu"
            android:label="@string/title_activity_gestione_menu"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".layout.seller.gestioneProdotti.GestioneProdotti"
            android:label="@string/title_activity_gestione_prodotti"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".layout.seller.gestioneMenu.createMenu" />
        <activity android:name=".layout.seller.gestioneProdotti.createProduct" />
        <activity android:name=".layout.seller.gestioneMenu.DeleteMenu" />
        <activity android:name=".layout.seller.gestioneProdotti.DeleteProduct" />
        <activity android:name=".layout.seller.gestioneProdotti.UpdateProduct" />
        <activity android:name=".layout.seller.gestioneMenu.UpdateMenu" />
        <activity android:name=".layout.seller.SelectPlaceOfSeller" />
        <activity android:name=".layout.activity.activityLocaliPreferiti" />
        <activity android:name=".layout.seller.Prenotazioni.le_prenotazioni_del_mio_locale" />
        <activity android:name=".layout.seller.gestioneMenu.prodottiDiUnMenu" />
        <activity android:name=".layout.seller.gestioneMenu.aggiungiProdottiAlMenu"></activity>
    </application>

</manifest>